// Основные стили документа
html,
body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 16px;
	height: 100vh;
	overflow-x: hidden;
	background: $white;
	color: $black;
	line-height: 140%;
}

@media (max-width: 1240px) {
	body {
		font-size: 14px;
	}
}

h2{
	font-size: 32px;
	font-weight: 600;
	margin: 50px 0px;
	line-height: 130%;
	display: flex;
	align-items: center;
}

@media (max-width: 1040px) {
	h2{
		font-size: 26px;
		margin: 20px 0px;
	}
}

@media (max-width: 490px) {
	h2{
		font-size: 20px;
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
	}
}


h2::before{
	content: '';
	display: block;
	height: 6px;
	width: 50px;
	background-color: $red;
	color: $red;
	vertical-align: middle;
	margin-right: 10px;
}

@media (max-width: 490px){
	h2::before{
		height: 6px;
		width: 40px;
		margin-bottom: 10px;
	}
}

.page__title{
	font-size: 34px;
	line-height: 130%;
	margin-bottom: 20px;
	font-weight: 600;
}

@media (max-width: 768px){
	.page__title{
		font-size: 24px;
		margin-bottom: 20px;
	}
	
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
// Ссылки и кнопки
a,
button {
	cursor: pointer;
	color: $black;
}

// Выравнивание для header и footer
header,
footer {
	align-items: center;
	display: flex;
}

.header {
	width: 100vw;
}

.header-container {
	// width: 100vw;
	// padding: 0 10vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

// Стили для заголовков
.title {
	font-size: 40px;
	font-weight: 500;
	letter-spacing: 0.96px;
	-webkit-background-clip: text;
	background-clip: text;
	color: $black;
	margin-bottom: 60px;
	padding: 10px 0;
}


.footer,
.carousel,
.products,
.about,
.faq,
.maps,
.portfolio,
.contact-info,
.products-page,
.chapter-page,
.articles-page,
.product-page,
.product,
.blog-page,
.post-page,
.questionnaire-page{
	width: 100vw;
}

.footer__container,
.products__container,
.about__container,
.faq-container,
.certificates__container,
.maps__container,
.portfolio__container,
.contact-info__container,
.products-page__container,
.chapter-page__container,
.articles-page__container,
.product-page__container,
.product-available,
.blog-page__container,
.post-page__container,
.questionnaire-page__container,
.promo__container {
	width: 100vw;
	padding: 0 10vw;
}