@media (max-width: 1740px) {
   .header__top-bar,
   .footer__container,
   .products__container,
   .about__container,
   .faq-container,
   .certificates__container,
   .maps__container,
   .portfolio__container,
   .contact-info__container,
   .products-page__container,
   .chapter-page__container,
   .articles-page__container,
   .product-page__container,
   .product-available,
   .blog-page__container,
   .post-page__container {
      padding: 10px 7vw;
   }
}

@media (max-width: 1040px) {
   .products,
   .about,
   .faq,
   .maps,
   .portfolio,
   .contact-info,
   .products-page__container,
   .chapter-page,
   .articles-page,
   .product-page,
   .product,
   .blog-page,
   .post-page {
      margin: 40px 0 10px;
   }
}

@media (max-width: 490px) {
   .products,
   .about,
   .faq,
   .maps,
   .portfolio,
   .contact-info,
   .products-page__container,
   .chapter-page,
   .articles-page,
   .product-page,
   .product,
   .blog-page,
   .post-page {
      margin: 20px 0 10px;
   }
}

@media (max-width: 1440px) {
   .header__top-bar,
   .footer__container,
   .products__container,
   .about__container,
   .faq-container,
   .certificates__container,
   .maps__container,
   .portfolio__container,
   .contact-info__container,
   .products-page__container,
   .chapter-page__container,
   .articles-page__container,
   .product-page__container,
   .product-available,
   .blog-page__container,
   .post-page__container {
      padding: 10px 3vw;
   }
}

@media (max-width: 1740px) {
   .header__navigation {
      padding: 0 6vw;
   }
}

@media (max-width: 1540px) {
   .header__navigation {
      padding: 0 4vw;
   }
}

@media (max-width: 1440px) {
   .header__navigation {
      padding: 0 1vw;
   }
}

@media (max-width: 1440px) {
   .header__navigation {
      .menu__item {
         a {
            padding: 12px;
            height: 50px;
         }
      }
   }
}

@media (max-width: 1240px) {
   .header__navigation {
      .menu__item {
         a {
            display: inline-block;
            color: $white;
            padding: 10px;
            height: 40px;
         }
      }
   }
}

@media (max-width: 1070px) {
   .header__burger,
   .header__close {
      display: block;
   }
}

@media (max-width: 1070px) {
   .navigation__menu {
      position: fixed;
      padding: 10px 50px;
      gap: 10px;
      top: 0;
      left: 100vw;
      width: 50vw;
      height: 100vh;
      background-color: $light-blue;
      z-index: 2000;
      transition: left 0.3s;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .menu__item a {
         font-size: 20px;
         padding-left: 40px;
      }
   }
}

@media (max-width: 540px) {
   .navigation__menu {
      width: 100vw;
   }
}

@media (max-width: 1070px) {
   .navigation__menu.show {
      transform: translateX(-50vw);
      transition: all 0.6s ease;
   }
}

@media (max-width: 540px) {
   .navigation__menu.show {
      transform: translateX(-100vw);
      transition: all 0.6s ease;
   }
}

@media (max-width: 1070px) {
   .navigation__mobile {
      display: flex;
      position: relative;
      width: 50%;
      margin-right: 25% !important;
      justify-content: space-between;
      .menu__link {
         font-size: 18px;
      }
   }
}
@media (max-width: 1040px) {
   .header__contact-location {
      display: none;
   }
}
@media (max-width: 768px) {
   .search-box {
      width: 180px;
   }
}
@media (max-width: 768px) {
   .contact__phone-mobile {
      display: block;
   }
}
@media (max-width: 768px) {
   .contact__phone,
   .contact__mail {
      display: none;
   }
}
@media (max-width: 768px) {
   .header__contact {
      span {
         display: none;
      }
   }
}
@media (max-width: 1040px) {
   .logo__image {
      height: 65px;
   }
}
@media (max-width: 440px) {
   .search-box {
      width: 90px;
   }
}
@media (max-width: 1070px) {
   .menu__item:hover {
      .menu__underlist {
         display: none;
      }
   }
}
@media (max-width: 1070px) {
   .submenu__link::after {
      background-image: none;
   }
}

@media (max-width: 1040px) {
   .footer__links,
   .footer__brand,
   .footer__contacts {
      width: 260px;
      h3 {
         font-size: 14px;
         opacity: 0.6;
      }
   }
}
@media (max-width: 768px) {
   .footer__bottom {
      justify-content: center;
   }
}
@media (max-width: 1040px) {
   .footer {
      font-size: 12px;
   }
}
@media (max-width: 1040px) {
   .footer__list {
      gap: 4px;
   }
}
@media (max-width: 1240px) {
   .swiper-container {
      height: 420px;

      .swiper-wrapper {
         .swiper-slide {
            height: 420px;
         }
      }
   }
}
@media (max-width: 1040px) {
   .swiper-container {
      height: 390px;

      .swiper-wrapper {
         .swiper-slide {
            height: 390px;
         }
      }
   }
}

@media (max-width: 490px) {
   .swiper-container {
      height: 320px;

      .swiper-wrapper {
         .swiper-slide {
            height: 320px;
         }
      }
   }
}

@media (max-width: 1240px) {
   .products__category {
      width: 32%;
   }
}

@media (max-width: 1040px) {
   .products__category {
      width: 45%;
   }
}

@media (max-width: 768px) {
   .products__category {
      width: 98%;
      min-width: 260px;
   }
}

@media (max-width: 768px) {
   .faq-item {
      width: 100%;
   }
}

@media (max-width: 768px) {
   .faq-grid {
      row-gap: 10px;
   }
}
@media (max-width: 1240px) {
   .portfolio-item {
      width: 48%;
   }
}
@media (max-width: 768px) {
   .portfolio-item {
      width: 100%;
   }
}
@media (max-width: 1240px) {
   .portfolio-grid {
      row-gap: 40px;
      column-gap: 2%;
   }
}
@media (max-width: 768px) {
   .contact-info__grid {
      flex-direction: column;
   }
}
@media (max-width: 768px) {
   .contact-details__fact {
      width: 100%;
   }
}
@media (max-width: 768px) {
   .contact__ur {
      width: 100%;
   }
}
@media (max-width: 768px) {
   .contact-details {
      min-width: 100%;
   }
}
@media (max-width: 1240px) {
   .chapter__category {
      width: 30%;
      h3 {
         font-weight: 600;
         font-size: 16px;
      }
   }
}
@media (max-width: 1040px) {
   .chapter__category {
      width: 47%;
   }
}
@media (max-width: 590px) {
   .chapter__category {
      width: 100%;
   }
}

@media (max-width: 1240px) {
   .articles__category {
      width: 32%;
   }
}

@media (max-width: 768px) {
   .articles-page {
      margin: 0px 0 20px;
   }
}
@media (max-width: 768px) {
   .articles__category {
      width: 48%;
   }
}

@media (max-width: 490px) {
   .articles__category {
      width: 100%;
   }
}

@media (max-width: 768px) {
   .category__list {
      gap: 12px;
   }
}
@media (max-width: 768px) {
   .product-available__title {
      font-size: 16px;
      text-align: center;
      margin-bottom: 10px;
   }
}
@media (max-width: 768px) {
   .available {
      margin: 30px 0 20px;
   }
}
@media (max-width: 768px) {
   .single__services-card {
      width: 49%;
   }
}
@media (max-width: 490px) {
   .single__services-card {
      width: 100%;
   }
}
@media (max-width: 768px) {
   .single__services-contact {
      margin-top: 30px;
   }
}
@media (max-width: 1040px) {
   .about__services-grid {
      column-gap: 20px;
      row-gap: 40px;
      img {
         height: 50px;
      }
   }
}

@media (max-width: 490px) {
   .about__services-grid {
      column-gap: 0px;
      row-gap: 20px;
      img {
         height: 40px;
      }
   }
}
@media (max-width: 768px) {
   .about__container {
      gap: 10px;
   }
}
@media (max-width: 1040px) {
   .about__services {
      gap: 16px;
   }
}

@media (max-width: 800px) {
   .blog__wrapper {
      flex-direction: column;
      img {
         width: 100%;
         height: auto;
      }
   }
}

@media (max-width: 800px) {
   .blog__card {
      overflow: hidden;
      max-height: 530px;
      width: 47%;
   }
}

@media (max-width: 490px) {
   .blog__card {
      overflow: hidden;
      max-height: 530px;
      width: 90%;
   }
}

@media (max-width: 800px) {
   .blog__card-img {
      width: 100%;
      height: 240px;
      overflow: hidden;
   }
}
@media (max-width: 800px) {
   .blog__post-description {
      width: 100%;
      padding: 20px;
   }
}
@media (max-width: 800px) {
   .blog__grid {
      column-gap: 5%;
      row-gap: 30px;
   }
}

@media (max-width: 490px) {
   .blog__grid {
      justify-content: center;
   }
}

@media (max-width: 768px) {
   .post-page__grid {
      flex-direction: column;
      align-items: center;
      gap: 30px;
   }
}
@media (max-width: 768px) {
   .post-page__img {
      width: 60%;
   }
}

@media (max-width: 490px) {
   .post-page__img {
      width: 80%;
   }
}
@media (max-width: 768px) {
   .post-page__btn {
      margin-top: 10px;
      text-align: center;
   }
}
@media (max-width: 768px) {
   .post-page__description {
      align-items: center;
   }
}
@media (max-width: 768px) {
   .post-page__lists {
      justify-content: center;
      gap: 30px;
   }
}
@media (max-width: 768px) {
   .post-page__about,
   .post-page__text,
   .post-page__title {
      text-align: center;
   }
}
@media (max-width: 768px) {
   .post-page__title {
      font-size: 20px;
   }
}
@media (max-width: 1240px) {
   .vacancy__card-img,
   .vacancy__btn {
      width: 80%;
   }
}
@media (max-width: 900px) {
   .vacancy__card {
      width: 44%;
   }
}

@media (max-width: 490px) {
   .vacancy__card {
      width: 100%;
   }
}

@media (max-width: 490px) {
   .vacancy__btn {
      margin: 16px 0;
   }
}

@media (max-width: 490px) {
   .vacancy__card-img {
      height: 140px;
   }
}

@media (max-width: 768px) {
   .product-reference__row {
      gap: 20px;
   }
}
@media (max-width: 768px) {
   .product-reference {
      &__header:nth-child(2),
      &__cell:nth-child(2),
      &__header:nth-child(3),
      &__cell:nth-child(3) {
         width: 35%;
         overflow-wrap: break-word;
      }
      &__header:nth-child(1),
      &__cell:nth-child(1) {
         width: 20%;
         overflow-wrap: break-word;
      }
   }
}

@media (max-width: 768px) {
   .product-reference__header {
      font-size: 12px;
   }
}
@media (max-width: 768px) {
   .product-reference__table {
      padding: 0;
   }
}

@media (max-width: 768px) {
   .product-reference__togle {
      white-space: nowrap;
      transform: translateX(-50px);
   }
}
@media (max-width: 1040px) {
}
@media (max-width: 1040px) {
}
@media (max-width: 768px) {
}
@media (max-width: 768px) {
}
@media (max-width: 768px) {
}
@media (max-width: 768px) {
}
@media (max-width: 768px) {
}
@media (max-width: 768px) {
}
