@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header {
   &__contact {
      display: flex;
      flex-direction: column;
      gap: 4px;
      span {
         font-size: 14px;
         padding-bottom: 4px;
      }
      a {
         font-weight: 600;
      }
   }
   &__burger {
      position: relative;
      right: 0px;
      cursor: pointer;
      background-image: url("../images/icons/header/burger-menu.svg");
      background-repeat: no-repeat;
      height: 35px;
      width: 35px;
      display: none;
   }
   &__close {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 2000;
      cursor: pointer;
      background-image: url("../images/icons/header/burger-close.svg");
      background-repeat: no-repeat;
      height: 35px;
      width: 35px;
      display: none;
   }
}

.contact__phone,
.contact__mail,
.contact__location {
   display: flex;
   align-items: center;
   gap: 4px;
}

.contact__phone:hover,
.contact__mail:hover,
.contact__location:hover {
   color: $blue;
   transition: color 0.15s ease-in-out;
}

.contact__phone::before {
   content: "";
   display: inline-block;
   background-image: url("../images/icons/header/phone.svg");
   height: 23px;
   width: 23px;
   background-size: contain;
   background-repeat: no-repeat;
}

.contact__mail::before {
   content: "";
   display: inline-block;
   background-image: url("../images/icons/header/mail.svg");
   height: 23px;
   width: 23px;
   background-size: contain;
   background-repeat: no-repeat;
}
.contact__location::before {
   content: "";
   display: inline-block;
   background-image: url("../images/icons/header/location.svg");
   height: 23px;
   width: 23px;
   background-size: contain;
   background-repeat: no-repeat;
}
.header__top-bar {
   display: flex;
   justify-content: space-between;
   width: 100vw;
   padding: 10px 10vw;
   align-items: center;
}

.navigation__menu {
   display: flex;
   width: 100%;
   justify-content: space-between;
}

.header__navigation {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: $blue;
   width: 100vw;
   padding: 0 10vw;
   height: 60px;
   .menu__item {
      transition: color 0.3s ease-in-out;
      a {
         display: inline-block;
         color: $white;
         padding: 18px;
         height: 60px;
      }
   }
   .menu__item:hover {
      background-color: $light-blue;
      transition: background-color 0.3s ease-in-out;
   }
}

.navigation__search {
   display: flex;
   gap: 10px;
}

.search__input {
   border: 1px solid $white;
   background: none;
   color: $white;
   padding: 2px;
   height: 30px;
   &::placeholder {
      // Цвет текста плейсхолдера
      color: $white;
      opacity: 1; // Убедись, что браузер не делает плейсхолдер полупрозрачным
   }
}

.search-box {
   display: flex;
   align-items: center;
   position: relative;
   width: 250px; // Установи нужную ширину

   &__input {
      width: 100%;
      padding: 0.5rem 2rem 0.5rem 0.5rem; // Правый отступ больше, чтобы сделать место для иконки
      border: 1px solid #cccccc;
      border-radius: 20px;
      font-size: 1rem;

      &:focus {
         outline: none;
         border-color: #555555;
      }

      &::placeholder {
         color: #cccccc;
      }
   }

   &__button {
      position: absolute;
      right: 0;
      border: none;
      background: none;
      padding: 0.5rem;
      border-radius: 0 20px 20px 0;
      cursor: pointer;

      &:focus {
         outline: none;
      }

      &:hover {
         background: none;
      }

      &__icon {
         fill: #333333; // Цвет иконки
      }
   }
}

.submenu__link {
   display: flex;
   gap: 4px;
}

.submenu__link::after {
   content: "";
   display: inline-block;
   height: 7px;
   width: 10px;
   background-image: url("../images/icons/header/submenu.svg");
   background-size: contain;
   background-repeat: no-repeat;
   margin-left: 4px;
}
.navigation__mobile {
   display: none;
}

.contact__phone-mobile {
   display: none;
   background-image: url("../images/icons/header/calling.svg");
   background-size: contain;
   background-repeat: no-repeat;
   width: 47px;
   height: 40px;
}

.menu__underlist {
   display: none;
}

.menu__item {
   position: relative;
   .menu__underlist {
      position: absolute;
      width: 300px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
      .menu__underlist-link {
         width: 100%;
         color: $black;
      }
      .menu__underlist-link:hover {
         background: $light-blue;
         color: $white;
         transition: 0.2s ease-in-out;
      }
   }
}

.menu__item:hover {
   .menu__underlist {
      display: block;
   }
}


.footer{
   background-color: $black;
   color: $white;
   font-size: 14px;
   &__logo{
      height: 90px;
      width: 190px;
   }
   &__description{
      opacity: 0.6;
   }
   &__bottom{
      display: flex;
      width: 100%;
      padding-top: 1vw;
      padding-bottom: 1.2vw;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 10px;
      a{
         color: $white;
      }
      a:hover{
         color: $light-blue;
         transition: color 0.2s ease-in-out;
      }
   }
   &__top{
      display: flex;
      padding-top: 2vw;
      padding-bottom: 2vw;
      justify-content: space-between;
      flex-wrap: wrap;
      column-gap: 10px;
      row-gap: 40px;
   }
   &__links,
   &__brand,
   &__contacts{
      width: 20%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      h3{
         font-size: 16px;
         opacity: 0.6;
      }
   }
   &__list{
      display: flex;
      flex-direction: column;
      gap: 6px;
      a{
         color: $white;
      }
      a:hover{
         color: $light-blue;
         transition: color 0.2s ease-in-out;
      }
   }
   &__contact-link,
   &__contact-mail{
      display: flex;
      align-items: center;
   }
   &__address{
      display: flex;
      align-items: flex-start;
   }
   &__contact-link::before{
      content: "";
      display: inline-block;
      background-image: url("../images/icons/footer/phone.svg");
      height: 14px;
      width: 14px;
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 4px;
   }
   &__contact-mail::before{
      content: "";
      display: inline-block;
      background-image: url("../images/icons/footer/mail.svg");
      height: 14px;
      width: 14px;
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 6px;
   }
   &__address::before{
      content: "";
      display: inline-block;
      background-image: url("../images/icons/footer/location.svg");
      height: 20px;
      width: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 6px;
   }
}

.footer__container{
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.hr__footer{
   height: 1px;
   width: 100%;
   background-color: #cccccc8a;
   margin: 0 auto;
}

















@import "mobile";
